<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-image: url("https://media.istockphoto.com/id/1191001701/photo/popcorn-and-clapperboard.jpg?s=612x612&w=0&k=20&c=iUkFTVuU8k-UCcZDxczTWs6gkRa0nAMihp2Jf_2ASKM=");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<%var searchbyname;%>
<%var recommended;%>
<%var bestplayer;%>
<%var highestgenre;%>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <form method="POST" action="/logout">
                <button type="submit" class="btn btn-dark">Log out</button>
            </form>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <form class="form-inline" method="GET" action="/getRecommended">
                    <button type="submit" class="btn btn-dark">
                        <img src="https://freesvg.org/img/1289679474.png" width="25" height="25">
                    </button>
                </form>
                <form class="form-inline" method="post" action="/getBestPlayer">
                    <button type="submit" class="btn btn-dark">
                        <img src="https://media.istockphoto.com/id/486816900/vector/people-icon-on-a-black-background.jpg?s=170667a&w=0&k=20&c=RlVm2Z2gG09O5DR2xSKuMXlwBN_Z0spP-zdmfquz3es=" width="25" height="25">
                    </button>
                </form>
              </div>
            </div>
        </nav>


        <div class="container">
            <div class="container mt-5">
                <div class="butcontainer">
                        <center>
                            <h2><p class="text-white">MovieLand</p></h2>
                        </center>
                    <br>
                    <h4><p class="text-white">Search By Name</p></h4>
                    <span>
                        <!-- <nav class="navbar navbar-light bg-light"> -->
                            <form class="form-inline" method="POST" action="/searchByName">
                                <input id="searchname" name="searchname" class="form-control mr-sm-2" type="search" placeholder="type any movie name..." aria-label="Search">
                                <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        <!-- </nav> -->
                    </span>
                    <br>
                    <br>  
                    <% if (searchbyname != null) { %>
                        <table id="table" class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>movie ID</th>
                                    <th>movie Name</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                   <% searchbyname.forEach(function(row) { %>
                                        <tr>
                                            <td><%= row.id%></td>
                                            <td><%= row.name%></td>                   
                                            <td>
                                                <button onclick="window.open('/moviepage/<%=row.movieid%>')">Go to Movie Page</button>
                                            </td>
                                        </tr>
                                    <% }) %>    
                            </tbody>
                        </table>
                    <% } %>
                    <% if (recommended != null) { %>
                        <h3><p class="text-white">Recommended Movies</p></h3>
                        <table id="table" class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>Movie Name</th>
                                    <th>Average Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <%console.log(recommended);%> -->
                                <% recommended.forEach(function(result) { %>
                                        <tr>
                                            <td><%= result.name%></td>
                                            <td><%= result.averagerating%></td>                   
                                        </tr>
                                    <% }) %>    
                            </tbody>
                        </table>
                    <% } %>

                    <% if (bestplayer != null) { %>
                        <h3><p class="text-white">Compare 2 Players</p></h3>
                        <form class="form-inline" method="POST" action="/getBestPlayer">
                            <input id="playernames" name="playernames" class="form-control mr-sm-2" type="search" placeholder="type 2 players..." aria-label="Search">
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">Compare</button>
                        </form>
                    <% } %>


                    
                    <h3><p class="text-white">Choose a Genre:</p></h3>
                    <form class="form-inline" method="POST" action="/highestGenre">
                        <input id="highestid" name="highestid" class="form-control mr-sm-2" type="search" placeholder="type any Genre..." aria-label="Search">
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">Choose</button>
                    </form>
                    <!-- <% if (highestgenre != null) { %>
                        <% highestgenre.forEach(function(result) { %>
                            
                            The movie with the hightest average rating is: <%= result.name%>
                                with the average rating: <%= result.averagerating%>                   
                            
                        <% }) %>

                    <% } %> -->
                    <% if (highestgenre != null) { %>
                        <table id="table" class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>The movie with the hightest average rating</th>
                                    <th> The Average Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% highestgenre.forEach(function(result) { %>
                                        <tr>
                                            <td><%= result.name%></td>
                                            <td><%= result.averagerating%></td>                   
                                        </tr>
                                    <% }) %>    
                            </tbody>
                        </table>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
