<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Movie details</title>


    <link rel="stylesheet" href="/css/moviePage.css">
    <link rel="stylesheet" href="/css/moviePageSecond.css">

    <script>
        function getScore() {
            var score = document.querySelector('input[name="rate"]:checked').value;
            alert(score + 'was selected!')
        }
    </script>
</head>
<body>
<br>
<div class="box">
    <a href="#divOne" class="button">Click Here</a>
</div>
<div class="overlay" id="divOne">
    <div class="wrapper">
        <a href="#" class="close">&times;</a>
        <div class="content">
            <div class="content">
                <div class="container">
                    <form>
                        <center>

                           <br><br> <h1 style="font-size: 100px; color: Red; font-family: 'Tahoma', Times, serif" ><%=movieName.name %></h1><br>
                            <h4 style="font-size: 25px;  font-family: 'Tahoma', Times, serif"> genre: <%=movieName.genre%></h4>
                        </center>

                        <img align="left" src="https://storage.googleapis.com/afs-prod/media/e53811360eed4b8ba26b5f635d703a7c/3000.jpeg
" alt="" width="250" height="250">
                        <table style="width: 100%">
                            <tr>
                                <td style="vertical-align: top;">
                                    <div class="data">
                                        <table>
                                            <caption class = subTitles> <b> Players list:</b>  </caption>

                                            <thead>
                                            <tr>
                                                <th> Player name</th>
                                                <th > Birth year</th>
                                                <th> Death year</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% players.forEach(function(player) { %>
                                                <tr>
                                                    <td> <%= player.name %></td>
                                                    <td><%= player.birthyear  %>&nbsp;</td>
                                                    <td><%= player.deathyear %></td>
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">

                                        <h4 class = subTitles> Reviews: </h4>
                                        <p>
                                          <h4> Average Rating: <%= movieRating.averagerating %> </h4>
                                        <h5> Rated by <%=movieRating.numvotes%> users </h5>

                                        </p>

                                        <form action="submit-feedback.php" method="post">
                                            <textarea id="feedback" name="feedback" placeholder="leave your comment here..." style="height:200px; width : 300px"></textarea><br>

                                            <input type="submit" value="Submit">
                                        </form>
                                    </div>
                                    <h4> Please rate me: </h4>

                                    <form method="post" onsubmit="getScore()" action="/moviepage/<%=movieId%>">

                                        <div class="rate">
                                            <input type="radio" id="star10" name="rate" value="10" />
                                            <label for="star10" title="text">10 stars</label>
                                            <input type="radio" id="star9" name="rate" value="9" />
                                            <label for="star9" title="text">9 stars</label>
                                            <input type="radio" id="star8" name="rate" value="8" />
                                            <label for="star8" title="text">8 stars</label>
                                            <input type="radio" id="star7" name="rate" value="7" />
                                            <label for="star7" title="text">7 stars</label>
                                            <input type="radio" id="star6" name="rate" value="6" />
                                            <label for="star6" title="text">6 stars</label>
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <button class="btnS" type="submit" style="font-size:16px"><i class="fa fa-check"></i></button>
                                    </form>
                                    <button class="btnD" onclick="window.location.href='deleteRate'" style="font-size:16px"><i class="fa far fa-trash-alt"></i></button>


                                </td>

                                <td>
                                    <div>
                                   <h4 class = subTitles> Comments: </h4>
                                    </div>
                                </td>


                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>